@import './../../../../../styles/variables';
.outlined {
	&:focus {
		outline: $outline-color;
		outline-style: solid;
		outline-offset: 0.15rem;
	}
	&:active {
		outline: transparent;
	}
}
.language-selector-container {
	color: $primary-color;

	i {
		color: $primary-color;
	}

	#lang_selector {
		max-width: 15em;
		width: 15em !important;

		.top {
			clear: both;
			width: 100%;
		}
	}

	#lang_button_popup {
		background: transparent;
		margin-right: 0.5rem;

		&.is-primary {
			outline: $outline-color;
			outline-style: solid;
			outline-offset: 0.15rem;
		}
		&:hover {
			.fa {
				color: $white;
			}
		}
	}

	.list-of-langs {
		.is-focused {
			outline: $outline-color !important;
			outline-style: solid;
			outline-offset: 0.15rem;
		}
	}
	// some lang to select in the popup
	.lang-element {
		float: left;
		height: auto;
		min-height: auto;
		margin-right: 2rem;
		margin-bottom: 1rem;
		border: 0 !important;
		input {
			//display: none;
			border: 0 !important;
			width: 1em;
			height: 1em;
			float: left;
			margin-right: 1ch;
		}
	}

	.is-current {
		font-weight: bold;
	}

	// button to show all lang choices in a popup
	.lang-button {
		color: $primary-color;
		border: none;
		padding: 0 1rem;
		display: block;
		line-height: $stepper-nav-height;
		height: $stepper-nav-height;
		&:hover {
			i {
				color: $primary-color !important;
			}
		}
	}

	#lang_button_popup_mobile {
		.lang-button {
			width: 100% !important;
		}
	}
}
