.outlined {
	&:focus {
		outline: $outline-color;
		outline-style: solid;
		outline-offset: 0.15rem;
	}
	&:active {
		outline: transparent;
	}
}

button,
.btn {
	@extend .outlined;
}

.btn--full {
	@extend .is-block;
}

.button,
button,
a {
	@extend .outlined;
	text-align: center;
	//padding: 10px 30px;
	border: 1px solid transparent;
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;

	&.is-fullwidth {
		display: block;
		text-align: center;
	}
}

.is-white {
	&:hover {
		background: $secondary_color;
		color: $white;
	}
}

.is-final {
	background: #128149;
	border-color: #128149;
	color: #fff;

	&:hover {
		background: #07532d;
		border-color: #07532d;
	}
}

.is-primary {
	background: #6359cf;
	color: #fff;
	border-color: #6359cf;

	&.is-disabled {
		background: #767486;
	}

	&:hover {
		background-color: #3e3882;
		border-color: #3e3882;

		&.is-disabled {
			background: #767486;
			border-color: #6359cf;
		}
	}
}

.is-disabled {
	background: #767486;
	color: #fff;
}

.is-secondary {
	background: #fff;
	color: #6359cf;
	border-color: #6359cf;

	&.is-disabled {
		color: #767486;
		border-color: #767486;
	}

	&:hover {
		background-color: #f6f5fb;
		border-color: #3e3882;
		color: #3e3882;

		&.is-disabled {
			color: #767486;
			border-color: #767486;
		}
	}
}

.is-thin {
	font-size: 14px;
	line-height: 18px;
}

.is-action {
	background: #fff;
	color: #6359cf;
	border-radius: 100px;
	border-color: transparent;
	padding: 4px !important;

	&:hover {
		background-color: #e3e3ea;
		border-color: #e3e3ea;
		color: #3e3882;
	}
}

.is-closing-popup {
	background: #fff;
	color: #6359cf !important;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;

	.icon {
		margin-left: 1rem;
		height: 14px;
		width: 14px;
		margin-top: 0.15rem;
		float: right;
	}
}

.buttons-demo button {
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.btn-primary {
	@extend .is-primary;
}

.is-warning {
	@extend .is-warning;
}

.is-info {
	background-color: #94bae2;
}

.btn--info {
	@extend .is-info;
}

.is-danger {
	background-color: #e08181;
}
.is-focused {
	outline: $outline-color !important;
	outline-style: solid;
	outline-offset: 0.15rem;
}
.btn--danger {
	@extend .is-danger;
}

.delete-date,
.down-line-button-container {
	border: 0;
	border-radius: 0.25rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: #f6f5fd;
	cursor: pointer;
	margin-right: 0;

	&:hover {
		color: $white !important;
		button {
			color: $white !important;
		}
	}

	button {
		color: $primary_color;
		text-align: left !important;
		width: 100%;
		display: block;
		padding: 1rem;
		padding-left: 44px;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		@extend .outlined;
		margin-top: -0.5rem;
		background-color: transparent;

		&:hover {
			color: $white !important;
		}
	}
}
