<app-stepper [step_current]="1" [step_max]="2"></app-stepper>
<div class="step">
	<h3 class="title is-3">
		{{ 'participation.voting_title' | translate }}
	</h3>

	<!--	<div class="date-choices" *ngIf="pollService.poll.kind == 'date'">-->
	<!--		<div class="box" *ngFor="let group of poll.choices"></div>-->
	<!--	</div>-->

	<div class="" *ngIf="poll">
		<div class="time-slice-choice rounded-block" *ngFor="let group_choice of poll.choices_grouped">
			<div class="groupe-label">
				<!--				<span  *ngIf="poll.kind == 'text'">-->
				<!--				{{group_choice.date_string}}-->
				<!--				</span>-->
				<span *ngIf="poll.kind == 'date'">
					{{ dateFromString(group_choice.date_string) | date: 'EEEE dd MMMM':'Europe/Paris' }}
				</span>
				<!--				{{ (dayStringFromDateString(group_choice.date_string))| translate}}-->
				<!--				{{"calendar_widget.dayNames.Thursday" | translate}}-->
			</div>
			<div class="choice-subset" *ngFor="let choice of group_choice.choices">
				<div class="choice-label title is-5">
					{{ choice.name }}
				</div>

				<div class="choice-buttons" *ngIf="poll.allowed_answers">
					<app-choice-button-dinum
						[poll]="poll"
						[choice]="choice"
						[answerKind]="'YES'"
					></app-choice-button-dinum>
					<!--					*ngIf="poll.allowed_answers?.indexOf('yes') !== -1"-->

					<app-choice-button-dinum
						[poll]="poll"
						[choice]="choice"
						[answerKind]="'NO'"
					></app-choice-button-dinum>
					<!--					*ngIf="poll.allowed_answers?.indexOf('no') !== -1"-->
					<app-choice-button-dinum
						[poll]="poll"
						[choice]="choice"
						[answerKind]="'MAYBE'"
					></app-choice-button-dinum>
					<!--					*ngIf="poll.allowed_answers?.indexOf('maybe') !== -1"-->
				</div>
			</div>
		</div>
		<button id="vote_button_popup" class="button is-secondary" (click)="display_vote_dialog = true">
			{{ 'SENTENCES.Cancel' | translate }}
		</button>
	</div>
</div>
<div class="no-poll" *ngIf="!poll">
	no poll
</div>
<div class="bottom-step-buttons" *ngIf="poll">
	<div class="contained-in-main-column">
		<button
			class="button is-secondary pull-left"
			[routerLink]="['/poll/' + pollService._poll.getValue().custom_url + '/consultation']"
		>
			{{ 'SENTENCES.Back' | translate }}
		</button>
		<button
			class="button-next button is-primary pull-right"
			[routerLink]="['/poll/' + poll.custom_url + '/consultation/vote/user-infos']"
		>
			<b>
				{{ 'nav.next' | translate }}
			</b>
		</button>
	</div>
</div>
<p-dialog
	[modal]="true"
	[(visible)]="display_vote_dialog"
	[breakpoints]="['960px']"
	[style]="{ width: '486px' }"
	[draggable]="false"
	[showHeader]="false"
	[resizable]="true"
	[attr.aria-labelledby]="'popup.languages.title' | translate"
	role="dialog"
	id="vote_quit_modale"
>
	<ng-template pTemplate="titlebar">
		<div class="">
			<div class="">
				<div class="top">
					<button
						id="close_dialog_vote"
						class="button cancel-button-reject pull-right img-marged-left has-no-border is-closing-popup"
						(click)="closeModalAndFocusOnButtonToOpen()"
					>
						{{ 'SENTENCES.Close' | translate }}
						<img class="icon" src="assets/icons/x_blue.svg" />
					</button>
				</div>
			</div>
		</div>
		<h1 class="title is-1 has-text-left" id="lang_selector_modale_title">
			{{ 'participation.modal.cancel_own.title' | translate }}
		</h1>
		<p>
			{{ 'participation.modal.cancel_own.description' | translate }}
		</p>
	</ng-template>
	<ng-template pTemplate="footer">
		<div class="has-no-padding time-slice-list-of-a-day">
			<button
				class="button is-primary is-fullwidth pull-right has-text-white"
				(click)="applyTimeSlicesToDateChoices()"
			>
				{{ 'hours.modal.validate' | translate }}
			</button>
			<button class="button is-secondary pull-right" (click)="closeModalAndFocusOnOpenModalButton()">
				{{ 'SENTENCES.Cancel' | translate }}
			</button>
		</div>
	</ng-template>
</p-dialog>
